a:-webkit-any-link {
  text-decoration: none !important;
}

.search_adjust{
  margin-top: 0px !important;
}

.picker-calendar-day.picker-calendar-day-selected span {
  background: #333333;
  color: #fff;
}
.label-switch input[type=checkbox]:checked+.checkbox {
    background: #235177 !important;
}

.popover-angle.on-top:after {
    left: 0;
    top: 19px;
    border: solid 1px;
    border-color: gray;
}

.tabbar a.active {
    color: #333333;
}

.border{
  padding:10px !important;
}

.noDisplay{
  display: none !important;
}

.picker-calendar-day.picker-calendar-day-has-events span:after {
    background: #666666 !important;
}

.rectangle{
	width: 5px;
	height: 20px;
  display: inline-block;
}
.rectangle-store{
  background: #C0392B;
}
.rectangle-personal{
  background: #34495E;
}
.rectangle-holiday{
  background: #F1C40F;
}

.events-adjust{
  text-align: center;
  margin-top: -20px;
}

.title-adjust{
  text-align: center;
  margin-top: 10px;
}

.page-content-adjust{
  overflow-x: hidden !important;
  position: relative !important;
  padding-top: 48px !important;
  background-color: #fff;
}

.events-span{
  vertical-align: 25%;
  padding-left: 20px;
}

.eventlist-adjust{
  margin-top: 10px !important;
}

.border-personal{
  border-left: solid 10px #34495E;
  border-radius: 15px 15px 15px 15px;
  border-right: solid 10px #34495E;
}
.border-store{
  border-left: solid 10px #C0392B;
  border-radius: 15px 15px 15px 15px;
  border-right: solid 10px #C0392B;
}
.border-holiday{
  border-left: solid 10px #F1C40F;
  border-radius: 15px 15px 15px 15px;
  border-right: solid 10px #F1C40F;
}
