<div class="pages ">
  <div data-page="login" class="page">
    <div>
      <h1 style="text-align:center; margin-top:50px; margin-bottom:50px">Agenda Maçom</h1>
    </div>
      <form id="login-form" class="form-horizontal">
        <fieldset class="border">
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Senha</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id='inputPassword' name="password" placeholder="Senha">
            </div>
          </div>
          <a href="#" id="btnlogin" class="btn btn-default btn-block">Entrar</a>
          <br>
          <a href="views/register.html" class="btn btn-default btn-block btn-sm" style="background-color:#444444">Registrar</a>
        <fieldset>
      </form>
    </div>
  </div>
</div>
